<jhi-page-ribbon></jhi-page-ribbon>

<div>
    <router-outlet name="navbar"></router-outlet>
</div>

<div class="container-fluid">
    <div class="card jh-card">
        <router-outlet></router-outlet>
        <router-outlet name="popup"></router-outlet>
    </div>

    <!-- TODO: Fix this nasty hack.
      -- I think we need to create two different 'main' templates (one w/ a footer, one w/o.)
      -- Then we have to update the current 'main' component to be an empty <router-outlet> tag
      -- And then we have to associate each module with the appropriate base template.
      -- We may also want to create a layout module to organize the import of common template elements (navbar, etc) -->
    <jhi-footer  *ngIf="router.url != '/leaflet' && router.url != '/azure'"></jhi-footer>
</div>
